__pycache__/
__pycache__/*
gamma/__pycache__/
gamma/__pycache__/*
gamma/core/__pycache__/
gamma/core/__pycache__/*
gamma/components/__pycache__/
gamma/components/__pycache__/*
gamma/systems/__pycache__/
gamma/systems/__pycache__/*
gamma/managers/__pycache__/
gamma/managers/__pycache__/*
gamma/utils/__pycache__/
gamma/utils/__pycache__/*
gamma/ui/__pycache__/
gamma/ui/__pycache__/*
gamma/input/__pycache__/
gamma/input/__pycache__/*
gamma/renderables/__pycache__/
gamma/renderables/__pycache__/*
gamma/transitions/__pycache__/
gamma/transitions/__pycache__/*
*.pyc
Gamma.egg-info
Gamma.egg-info/*
examples/collect_the_coins/__pycache__/
examples/collect_the_coins/__pycache__/*