__pycache__/
__pycache__/*
gamma/__pycache__/
gamma/__pycache__/*
*.pyc
venv
venv/*
Gamma.egg-info
Gamma.egg-info/*
platformer
platformer/*
tools/
tools/*
tools/world_editor/__pycache__/
tools/world_editor/__pycache__/*